<h1>Editing reported article</h1>

<%= render "form", reported_article: @reported_article %>

<br>

<div>
  <%= link_to "Show this reported article", @reported_article %> |
  <%= link_to "Back to reported articles", reported_articles_path %>
</div>
