<p style="color: green"><%= notice %></p>

<h1>Saved playlists</h1>

<div id="saved_playlists">
  <%SavedPlaylistwhere(user_id:current_user).each do |saved_playlist| %>
    <%= render saved_playlist %>
    <p>
      <%= link_to "Show this saved playlist", saved_playlist %>
    </p>
  <% end %>
</div>

<%= link_to "New saved playlist", new_saved_playlist_path %>
