<div id="<%= dom_id my_post %>">
  <p>
    <strong>Author:</strong>
    <%= my_post.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= my_post.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= my_post.summary %>
  </p>

</div>
