<div id="<%= dom_id edited_post %>">
  <p>
    <strong>Author:</strong>
    <%= edited_post.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= edited_post.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= edited_post.summary %>
  </p>

</div>
