<h1>Editing edited post</h1>

<%= render "form", edited_post: @edited_post %>

<br>

<div>
  <%= link_to "Show this edited post", @edited_post %> |
  <%= link_to "Back to edited posts", edited_user_posts_path(params[:id]) %>
</div>
