<div id="<%= dom_id feed %>">
  <small>
    <strong>Article ID:</strong>
    <%= feed.article_id %>
  </small>
  <br>
  <small>
    <strong>Forecast ID:</strong>
    <%= feed.forecast_id %>
  </small>
  <br>
  <small>
    <strong>Post ID:</strong>
    <%= feed.post_id %>
  </small>
</div>
