<div id="<%= dom_id article_comment %>">
  <p>
    <strong>Author:</strong>
    <%= article_comment.author %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article_comment.description %>
  </p>

</div>
