<h1>Editing article comment</h1>

<%= render "form", article_comment: @article_comment,params:{article_id: @article_comment.article_id} %>

<br>

<div>
  <%= link_to "Show this article comment", @article_comment %> |
  <%= link_to "Back to article comments", article_comments_path %>
</div>
