<h1>Editing starred article</h1>

<%= render "form", starred_article: @starred_article %>

<br>

<div>
  <%= link_to "Show this starred article", @starred_article %> |
  <%= link_to "Back to starred articles", starred_user_articles_path(:user_id) %>
</div>
