
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"></button>
  <h1 class="modal-title">New article</h1>
</div>

<div class="modal-body">
  <%= render "form", article: @article %>
</div>

<br>

<div class="modal-footer">
  <%= link_to "Back to articles", articles_path %>
</div>
