

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"></button>
  <h1 class="modal-title">Show article</h1>
</div>

<div class="modal-body">
  <%= render @article %>
</div>

<div class="modal-footer">
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
