<div id="<%= dom_id starred_post %>">
  <p>
    <strong>Author:</strong>
    <%= starred_post.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= starred_post.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= starred_post.summary %>
  </p>

</div>
