<div id="<%= dom_id post_comment %>">
  <p>
    <strong>Author:</strong>
    <%= post_comment.author %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post_comment.description %>
  </p>

</div>
