<div id="helpDiv">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Help</li>
        </ol>
    </nav>
    <p class="line-1 anim-typewriter font-monospace pt-6">Hi! How can I help you? :)</p>
    <ul class="list-group list-group-flush text-center font-monospace">
        <li id="accountBtn" class="list-group-item">
            <p class="btn btn-link m-1">ACCOUNT</p>
        </li>
        <li id="profileBtn" class="list-group-item">
            <p class="btn btn-link m-1">PROFILE</p>
        </li>
        <li id="infoBtn" class="list-group-item">
            <p class="btn btn-link m-1">INFO</p>
        </li>
        <!--li id="usersBtn" class="list-group-item">
            <p class="btn btn-link m-1">USERS</p>
        </!--li>-->
        <li id="contactsBtn" class="list-group-item">
            <p class="btn btn-link m-1">CONTACTS</p>
        </li>
    </ul>
</div>