<div id="helpDiv">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li id="backBtn" class="breadcrumb-item" style="cursor: pointer;"><p>Help</p></li>
            <li class="breadcrumb-item active" aria-current="page">Info</li>
        </ol>
    </nav>

    <p class="line-1 anim-typewriter font-monospace pt-6">Ecco a te delle info :)</p>

    <div class="container p-4 b-2">
        <p class="fs-5">
        Ciao! :) siamo <b class="text-success">Luca</b>, <b class="text-success">Antonino</b> e <b class="text-success">Stefano</b>, tre studenti dell'Università di Roma <b class="text-success">La Sapienza</b>, e questo è il nostro progetto per il Laboratorio si Applicazioni Software e Sicurezza Informatica. <br> <b class="text-success">ContentAggregator</b> è un'applicazione che mira ad aggregare contenuti fruibili da differenti piattaforme online.
        </p>
    </div>

<div>