<div id="<%= dom_id reported_post %>">
  <p>
    <strong>Author:</strong>
    <%= reported_post.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= reported_post.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= reported_post.summary %>
  </p>

</div>
