<h1>Editing reported post</h1>

<%= render "form", reported_post: @reported_post %>

<br>

<div>
  <%= link_to "Show this reported post", @reported_post %> |
  <%= link_to "Back to reported posts", reported_user_posts_path(params[:id]) %>
</div>
