<div id="<%= dom_id playlist_comment %>">
  <p>
    <strong>Author:</strong>
    <%= playlist_comment.author %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= playlist_comment.description %>
  </p>

</div>
