<h1>Editing playlist comment</h1>

<%= render "form", playlist_comment: @playlist_comment %>

<br>

<div>
  <%= link_to "Show this playlist comment", @playlist_comment %> |
  <%= link_to "Back to playlist comments", playlist_comments_path %>
</div>
