<h1>Editing reported playlist</h1>

<%= render "form", reported_playlist: @reported_playlist %>

<br>

<div>
  <%= link_to "Show this reported playlist", @reported_playlist %> |
  <%= link_to "Back to reported playlists", reported_user_playlists_path(params[:id]) %>
</div>
