/* ...
 *= require_self
 *= require_tree .
 */

/* Evita l’inscurimento dello sfondo del modal */
.modal-backdrop {
    opacity: 0.2 !important;
}
.modal-backdrop+.modal-backdrop {
    opacity : 0 !important;
}
/* TipeWriter Animation */
.line-1 {
    position: relative;
    top: 50%; 
    width: 24em;
    margin: 0 auto;
    margin-top: 35px !important;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 160%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
}
.anim-typewriter {
    animation:  typewriter 3s steps(26) 0.5s 1 normal both,
                blinkTextCursor 750ms steps(26) infinite normal;
}
@keyframes typewriter {
    from{width: 0;}
    to{width: 18em;}
}
@keyframes blinkTextCursor {
    from{border-right-color: rgba(0, 0, 0, 0.75);}
    to{border-right-color: transparent;}
}

.mia-card {
    width: 20rem;
    font-size: 0.8rem;
}
.collegamento-card {
    color: lightslategray;
    font-size: 0.7rem;
    -webkit-line-clamp: 1; /* max 1 righe */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.titolo-card {
    -webkit-line-clamp: 2; /* max 2 righe */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.descrizione-card {
    -webkit-line-clamp: 4; /* max 4 righe */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
