.LogLink {
  float: right;

  color: rgb(15, 14, 14);

}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 1rem;
    z-index: 1000;
    background: #fff;
    display:flex
  }
  .header-active {
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    padding: .7rem 2rem;
    overflow:"hidden"
  }
  
  .fit-image{
    width: 100%;
  }

  .button {
    height: 3.5rem;
    width: 20rem;
    background: var(--bluChiaro);
    color: black;
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 1rem 0;
  }
  

  .buttonreg {
    height: 3.5rem;
    width: 20rem;
    background: white;
    color: black;
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 1rem 0;
  }
  
  .buttonGoogle {
    height: 3.5rem;
    width: 22.5rem;
    background: green;
    color: #fff;
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 1rem 0;
  }
  
  .buttonFacebook {
    height: 3.5rem;
    width: 22.5rem;
    background:black;
    color: #fff;
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 1rem 0;
  }
  .logoHeader {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .form{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
  }
  .timeline {
    position: relative;
    background: #12a112;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 1rem;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
  }
  
  .timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    
    height: 100%;
    display: block;
  }
  
  .timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
  }
  
  .timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #bcd0f7;
    font-size: 1.5rem;
  }
  
  .timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
  }
  
  .timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: #0066a5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: #1a233a;
  }
  
  .timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #272e48;
    
  }
  
  .timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
  }
  
  .timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
  }
  
  .timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
  }
  
  .timeline-row .timeline-content .thumbs img {
    border-radius: 1rem;
    margin: 5px;
    max-width: 350px;
  }
  
  .timeline-row .timeline-content .badge {
    color: #ffffff;
    background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
  }
  
  .timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
  }
  
  .timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
  }
  
  .timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
  }
  
  .timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
  }
  
  .timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
  }
  
  .timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
  }
  
  .timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
  }
  
  @media (max-width: 992px) {
    .timeline {
      padding: 15px;
    }
  
    .timeline:after {
      border: 0;
    }
  
    .timeline .timeline-row:nth-child(odd) {
      padding: 0;
    }
  
    .timeline .timeline-row:nth-child(odd) .timeline-time {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 0 10px 0;
    }
  
    .timeline .timeline-row:nth-child(odd) .timeline-content {
      margin: 0;
    }
  
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
      display: none;
    }
  
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
      display: none;
    }
  
    .timeline .timeline-row:nth-child(even) {
      padding: 0;
    }
  
    .timeline .timeline-row:nth-child(even) .timeline-time {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 0 10px 0;
      text-align: left;
    }
  
    .timeline .timeline-row:nth-child(even) .timeline-content {
      margin: 0;
    }
  
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
      display: none;
    }
  
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .no-mobile {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }
  .homefooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 2px;
    color: #fff;
    
  }
  footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 2px;
    color: #fff;
    
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 20px;
  color: #cacdd2;
}

@media (max-width:1200px) {
  .homefooter {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    color: #fff;
    margin-top: 390px;
  }
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    color: #fff;
    margin-top: 390px;
}
  }

  .buttonclass {
    display: flex;

    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    
    overflow: hidden;
    z-index: 1;
    background-color: green;
    text-decoration:none; 
    background: linear-gradient(to right, green 50%, black 50%);
  background-size: 200% 100%;
  background-position: right;
  
  }

    .buttonclass:hover {
      color: white;
      
      transition: 0.4s;
      background-position: left;
      
    }
  

    .buttonclassdis {
      display: flex;
      grid-template-columns: 0.01fr 0.01fr;
      grid-gap: 0.01px;
      padding: .75rem 1.25rem;
      border-radius: 10rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: .15rem;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      background-color: black;
      text-decoration:none; 
    background-size: 200% 100%;
    background-position: right;
    opacity: 0.65; 
    cursor: not-allowed;
    
    }
    .card-footer {
      display: flex;
      justify-content: center;
      row-gap: 10px;
      column-gap: 10px;
    }
    .homebutton{
      

      padding: .75rem 1.25rem;
      border-radius: 10rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: .15rem;
      transition: all .3s;
      
      overflow: hidden;
      z-index: 1;
      background-color: green;
      text-decoration:none; 
      background: linear-gradient(to right, green 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    }
    
    .homebutton:hover {
      color: white;
      
      transition: 0.4s;
      background-position: left;
      
    }